@import '../Vars.scss';

.blopostslist__container--link{
  text-decoration: none;
  color: $dark-golden;
}

.blopostslist__container--item{
  border: 1px solid $dark-golden;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 12px;
  text-align: left;
  max-height: 160px;
  transition: 0.3s;
}

.blopostslist__container--link:hover .blopostslist__container--item{
  opacity: 0.5;
}


.item__leftside--date{
  position: absolute;
  margin: 5px 0 0 0.5%;
  background-color: $light-gray;
  padding: 2.5px;
  font-weight: bold;
  opacity: 0.8;
  font-size: 16px;
}

.item__leftside--image{
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.item__rightside {
  margin-left: 10px;
  width: 100%;
}

.item__rightside--title{
  font-size: 30px;
  margin: 5px 0;
  width: 50vw;
}

.item__rightside--category{
  margin: 10px 0px;
}

.item__rightside--category label {
  color: $dark-gray;
  background-color: $dark-golden;
  text-align: center;
  padding: 2.5px;
  font-size: 16px;
}

.item__rightside--main{
  font-size: 16px;
  margin: 15px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50vw;
}