@import '../Vars.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: $light-gray;
}

.header__link{
  text-decoration: none;
  color: $dark-golden;
  transition: 0.3s;
}

.header__link:hover {
  opacity: 0.7;
}

.header__logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo--title{
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  padding-left: 12px;
}

.header__logo--icon {
  width: 40px;
  padding-left: 10px;
}



.header__nav--list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav--list a {
  text-decoration: none;
  list-style: none;
  color: $dark-golden;
  margin-right: 12px;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid $dark-golden;
  transition: 0.3s
}

.header__nav--list a:hover {
  color: $light-gray;
  border-color: light-gray;
  background-color: $dark-golden;
}





