@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$theme-font: 'Roboto', sans-serif;
$dark-golden: #AF8E4F;
$light-gray: #414345;
$lighter-gray: #5D5F62;
$dark-gray: #1F2129;